* {
  box-sizing: border-box;
}

.intro {
  height: 100vh;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 1rem;
}
.intro__text {
  color: white;
  font-family: inherit;
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
  opacity: 0;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  transition: all 1s ease;
  position: relative;
  z-index: 1;
}
.intro__text.start {
  opacity: 1;
  letter-spacing: 0;
  margin-right: 0;
}
.intro__btn {
  cursor: pointer;
  background: #ec5d06;
  color: #ffffff;
  outline: none;
  border: #dc750e solid 2px;
  border-radius: 5px;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  opacity: 0;
  transform: translatey(-100%);
  transition: all 1s ease 1s, background 500ms ease;
  position: relative;
  z-index: 1;
  font-family: 'FontAwesome';
}
.intro__btn:hover {
  background: rgba(233, 143, 9, 0.15);
}
.intro__btn:focus {
  outline: none;
}
.intro__btn.start {
  opacity: 1;
  transform: translatey(0);
}

.intro__btn2 {
  color: #ec5d06;
  border-radius: 5px;
  font-size: 3em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  opacity: 0;
  transform: translatey(-100%);
  transition: all 1s ease 1s, background 500ms ease;
  position: relative;
  z-index: 1;
  font-family: 'FontAwesome';
}
.intro__btn2:hover {
  background: rgba(233, 143, 9, 0.15);
}
.intro__btn2:focus {
  outline: none;
}
.intro__btn2.start {
  opacity: 1;
  transform: translatey(0);
}

.box {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.box2 {
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.wave{
  /*Bajar el wave u onda*/
  position: absolute;
  bottom: -127px;
  width: 100%;
  height: 2vh;
  margin-bottom: 30px;
  /*Fix for safari gap*/
  min-height: 104px;
  max-height: 73px;
}

.header2 {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgb(61, 44, 141) 0%,
    rgb(206, 75, 0) 100%
  );
  color: rgb(255, 0, 0);
}


/*Flexbox for containers*/
/* .flex {
            
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        } */

        .waves {
          position: relative;
          width: 100%;
          height: 15vh;
          margin-bottom: -7px;
          /*Fix for safari gap*/
          min-height: 100px;
          max-height: 150px;
        }
        
        
        
        
        /* Animation */
        
        .parallax > use {
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
        }
        
        .parallax > use:nth-child(1) {
          animation-delay: -2s;
          animation-duration: 7s;
        }
        
        .parallax > use:nth-child(2) {
          animation-delay: -3s;
          animation-duration: 10s;
        }
        
        .parallax > use:nth-child(3) {
          animation-delay: -4s;
          animation-duration: 13s;
        }
        
        .parallax > use:nth-child(4) {
          animation-delay: -5s;
          animation-duration: 20s;
        }
        
        @keyframes move-forever {
          0% {
            transform: translate3d(-90px, 0, 0);
          }
        
          100% {
            transform: translate3d(85px, 0, 0);
          }
        }
        
        /*Shrinking for mobile*/
        @media (max-width: 500px) {
          .wave {
            height: 119px;
            min-height: 40px;
            bottom: -163px;
            max-height: 157px;
          }
        
        }
        .bg-naranja{
          background:radial-gradient( ellipse, #d26039 25%, #e8903a 66%);
        }
        .bg-azul{
          background:radial-gradient( ellipse, #d26039 25%, #e8903a 66%);
        }

        .containerser
        {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          padding: 40px 0;
        }
        
        .containerser .boxser
        {
          position: relative;
          width: 320px;
          height: 282px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 40px 30px;
          transition: 0.5s;
        }
        
        .containerser .boxser::before
        {
          content:' ';
          position: absolute;
          top: 0;
          left: 50px;
          width: 50%;
          height: 100%;
          text-decoration: none;
          background: #fff;
          border-radius: 8px;
          transform: skewX(15deg);
          transition: 0.5s;
        }
        
        .containerser .boxser::after
        {
          content:'';
          position: absolute;
          top: 0;
          left: 20;
          width: 50%;
          height: 100%;
          background: #fff;
          border-radius: 8px;
          transform: skewX(15deg);
          transition: 0.5s;
          filter: blur(30px);
        }
        
        .containerser .boxser:hover:before,
        .containerser .boxser:hover:after
        {
          transform: skewX(0deg);
          left: 20px;
          width: calc(100% - 50px);
          
        }
        
        .containerser .boxser:nth-child(1):before,
        .containerser .boxser:nth-child(1):after
        {
          background: linear-gradient(315deg, #ffbc00, #e2170b)
        }
        
        .containerser .boxser:nth-child(2):before,
        .containerser .boxser:nth-child(2):after
        {
          background: linear-gradient(315deg, #0353f4, #be28c3)
        }
        
        .containerser .boxser:nth-child(3):before,
        .containerser .boxser:nth-child(3):after
        {
          background: linear-gradient(315deg, #962222, #795548)
        }
        .containerser .boxser:nth-child(4):before,
        .containerser .boxser:nth-child(4):after
        {
          background: linear-gradient(315deg, #0353f4, #be28c3)
        }
        .containerser .boxser:nth-child(5):before,
        .containerser .boxser:nth-child(5):after
        {
          background: linear-gradient(315deg, #962222, #795548)
        }
        .containerser .boxser:nth-child(6):before,
        .containerser .boxser:nth-child(6):after
        {
          background: linear-gradient(315deg, #ffbc00, #e2170b)
        }
        .containerser .boxser:nth-child(7):before,
        .containerser .boxser:nth-child(7):after
        {
          background: linear-gradient(315deg, #962222, #795548)
        }
        .containerser .boxser:nth-child(8):before,
        .containerser .boxser:nth-child(8):after
        {
          background: linear-gradient(315deg, #ffbc00, #e2170b)
        }
        .containerser .boxser:nth-child(9):before,
        .containerser .boxser:nth-child(9):after
        {
          background: linear-gradient(315deg, #0353f4, #be28c3)
        }
        .containerser .boxser:nth-child(10):before,
        .containerser .boxser:nth-child(10):after
        {
          background: linear-gradient(315deg, #ffbc00, #e2170b)
        }
        .containerser .boxser:nth-child(11):before,
        .containerser .boxser:nth-child(11):after
        {
          background: linear-gradient(315deg, #962222, #795548)
        }
        
        .containerser .boxser span
        {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 5;
          pointer-events: none;
        }
        
        .containerser .boxser span::before
        {
          content:'';
          position: absolute;
          top: 0;
          left: 0;
          width: 10;
          height: 0;
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
          opacity: 0;
          transition: 0.1s;  
          animation: animate 2s ease-in-out infinite;
          box-shadow: 0 5px 15px rgba(0,0,0,0.08)
        }
        
        .containerser .boxser:hover span::before
        {
          top: -70px;
          left: 50px;
          width: 100px;
          height: 100px;
          opacity: 1;
        }
        
        .containerser .boxser span::after
        {
          content:'';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
          opacity: 0;
          transition: 0.5s;
          animation: animate 2s ease-in-out infinite;
          box-shadow: 0 5px 15px rgba(0,0,0,0.08);
          animation-delay: -1s;
        }
        
        .containerser .boxser:hover span:after
        {
          bottom: -60px;
          right: 50px;
          width: 100px;
          height: 100px;
          opacity: 1;
        }
        
        @keyframes animate
        {
          0%, 100%
          {
            transform: translateY(10px);
          }
          
          50%
          {
            transform: translate(-10px);
          }
        }
        
        .containerser .boxser .contentser
        {
          position: relative;
          left: 0;
          padding: 10px 20px;
          background: rgba(255, 255, 255, 0.05);
          backdrop-filter: blur(15px);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          z-index: 1;
          transform: 0.5s;
          color: #fff;
        }
        
        .containerser .boxser:hover .contentser
        {
          padding: 10px 10px;
        }
        
        .containerser .boxser .contentser h2
        {
          font-size: 2em;
          color: #fff;
          margin-bottom: 1px;
        }
        
        .containerser .boxser .contentser p
        {
          font-size: 1.1em;
          margin-bottom: 10px;
          line-height: 1.4em;
        }
        
        .containerser .boxser .content a
        {
          display: inline-block;
          font-size: 1.1em;
          color: #111;
          background: #fff;
          padding: 10px;
          border-radius: 4px;
          text-decoration: none;
          font-weight: 700;
          margin-top: 5px;
        }
        
        .containerser .boxser .contentse a:hover
        {
          background: #ffcf4d;
          border: 1px solid rgba(255, 0, 88, 0.4);
          box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
        }

        .buttons {
          min-width: 300px;
          min-height: 60px;
          font-family: "Nunito", sans-serif;
          font-size: 22px;
          text-transform: uppercase;
          letter-spacing: 1.3px;
          font-weight: 700;
          color: #fefefe;
          background: #141919;
          background: linear-gradient(
            90deg,
            rgb(163 42 16) 0%,
            rgb(231 130 12) 100%
          );
          border: none;
          border-radius: 1000px;
          box-shadow: 12px 12px 24px rgb(152 68 68 / 64%);
          transition: all 0.3s ease-in-out 0s;
          cursor: pointer;
          outline: none;
          position: relative;
          padding: 10px;
        }
        

        
        .buttons:hover,
        .buttons:focus {
          color: #313133;
          transform: translateY(-6px);
        }
        
        .buttons:hover::before,
        .buttons:focus::before {
          opacity: 1;
        }
        
        .buttons::after {
          content: "";
          width: 30px;
          height: 30px;
          border-radius: 100%;
          border: 6px solid #ee0101;
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: ring 1.5s infinite;
        }
        
        .buttons:hover::after,
        .buttons:focus::after {
          animation: none;
          display: none;
        }
        
        @keyframes ring {
          0% {
            width: 30px;
            height: 30px;
            opacity: 1;
          }
          100% {
            width: 300px;
            height: 300px;
            opacity: 0;
          }
        }
        